.footer {
  padding: rem(24) 0;
  background: #878787;

  // .footer__container
  &__logo {
    width: rem(110);
    img {
      width: 100%;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width:820px){
        justify-content: center;
    }
  }
  &__content {
    @media(max-width:820px){
        display: none;
    }
  }
  .address__text {
    color: var(--white-color);
    margin-bottom: rem(8);

  }
  .address__contacts {
    color: var(--white-color);
    a {
      color: var(--white-color);
    }
    span {
      color: var(--white-color);
    }
  }
}
